body{
    background-color: #F8F8FB;
}

.form-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.real-invoice-main-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 24px;
    cursor: pointer;
}

.real-invoice-main-container h4{
    font-weight: 700;
    position: relative;
    right: 38%;
    margin-top: 2%;   
}

.action-buttons-main-container{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    justify-content: space-between;
    width: 830px;
    height: 88px;
    position: relative;
    right: -4%;
    background-color: white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 8px;
    position: relative;
    right: 45%;
    
}

.status-indicator{
    display: flex;
    gap: 20px;
    margin-block: 4%;
}

.Pending-status-indicator{
    width: 104px;
    height: 40px;
    background-color: #F3ECE4;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-block: 8%;
    padding-inline: 4%;
    border-radius: 6px;
    font-size: 15px;
    color: #FF8F00;
    margin-block: -4%;
    
}

.action-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-block: 3%;
}

.edit-button{
    background-color: #F9FAFE;
    width: 73px;
    height: 48px;
    padding: 18px;
    border-radius: 24px;
    color: #7E88C3;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: league spartan;
}

.delete-button{
    background-color: #EC5757;
    width: 89px;
    height: 48px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    font-family: league spartan;
    border-radius: 24px;
}

.status-button{
    width: 131px;
    height: 48px;
    font-size: 15px;
    font-weight: 600;
    font-family: league spartan;
    background-color: #7C5DFA;
    color: white;
    border-radius: 24px;
    border: none;
}

.invoice-container{
    width: 93%;
    background-color: white;
    position: relative;
    right: 38%;
}

.main-container{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.id-address-container{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.client-id-course p{
    margin-top: 7px;
    color: #7E88C3;
}

.client-address p{
    color: #7E88C3;
}

.invoice-details{
    display: flex;
    justify-content: space-around;
    padding: 4%;
    position: relative;
    right: 9%;
    bottom: 49px;
}

.invoice-date p, .client-name p, .client-gmail p{
    margin-bottom: 13px;
    color: #7E88C3;
}

.clients-payment-date-address-container{
    display: flex;
    gap: 118px;
    position: relative;
    right: -4%;
    margin-block: -7%;
}

.invoice-due-date p{
    margin-bottom: 13px;
    color: #7E88C3;
}

.client-address p{
   color: #7E88C3; 
}

.overall-receipt-container{
    background-color: #F9FAFE;
    margin-top: 75px;  
    margin-inline: 8%;
    height: 184px;
    border-radius: 8px;
}

.invoice-details{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    position: relative;
    left: -8%;
    
}

.invoice-calculations{
    display: flex;
    justify-content: space-around;
    width: 282px;
}

.invoice-quantity{
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    padding-inline: 4%;
}

.item-name h4, .quantity h4, .price h4, .total h4{
    margin-top: 32px;
}

.item-name p, .quantity p, .price p, .total p{
    color: #7E88C3;
}

.invoice-due-date{
    margin-top: 31px;
}

.amount-due-container{
    background-color: #373B53;
    color: white;
    padding: 4%;
    margin-top: -5%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}



